body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span.strike-through {
  text-decoration:line-through;
}

div.container {
  display: inline-block;
  width: 2em;
  text-align: center
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20pt;
}

div.input {
  cursor: pointer;
}

span.input {
  padding: 1em;
}

span.action {
  padding: 1em;
}

table, th, td {
   border: 1px solid black;
}
